<%= form_for @empleado do |f| %>

    <div class="field">
      <%= f.label :emp_tel, "Telefono del Usuario" %><br />
      <%= f.phone_field :emp_tel, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmación de la Contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <p></p>
    <div class="actions">
      <%= f.submit "Registrar" %>
    </div>

<% end %>