<style> 
td.cortar {
    width: 100%;
    word-break: break-all;
}
</style>


<head>
	<h1 style="color:#0B2161"><FONT FACE="times new roman">EMPLEADOS<small>   Ver detalles del empleado.</small></FONT></h1>
	<hr>
</head>

<body><div class="container">
	<div class="container">
      <div class="row">
        <div class="table-responsive col-xs-9 col-xs-offset-1 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Detalles del empleado.</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div > 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td><strong>Nombre Empleado:</strong></td>
                        <td class="cortar"><%= @emp.emp_nom %> <%= @emp.emp_ape  %></td>
                      </tr>
                      <tr>
                        <td><strong>Cargo:</strong></td>
                        <td class="cortar"><%= @emp.cargo_empleado.cargo_nom %></td>
                      </tr>
                      <tr>
                        <td><strong>RUT:</strong></td>
                        <td class="cortar"><%= @emp.emp_rut %></td>
                      </tr>
                      <tr>
                        <td><strong>Teléfono:</strong></td>
                        <td class="cortar"><%= @emp.emp_tel %></td>
                      </tr>
                      <tr>
                        <td><strong>e-mail:</strong></td>
                        <td class="cortar"><%= @emp.email %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
            </div>
            
          </div>
        </div>
      </div>
    </div>

	<br>
	<div class="col-md-1">
    <%= link_to 'VOLVER', :back %>
	</div><br><hr>
</div></body>