<%= form_for @articulo do |f| %>
    <i>Campos obligatorios (*)</i>
    <p></p>
    <div class="field">
      <%= f.label :art_cod, "Código Artículo *" %><br />
      <%= f.text_field :art_cod, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :art_tipo_cod, "Tipo de Artículo" %><br/>
      <%= collection_select(:articulo, :art_tipo_cod, TipoArticulo.all, :id, :tipo_nom, prompt: true) %>
    </div>

    <div class="field">
      <%= f.label :art_nom, "Nombre Artículo *" %><br />
      <%= f.text_field :art_nom, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :art_stock, "Stock *" %><br />
      <%= f.number_field :art_stock, autofocus: true, min: 1%>
    </div>

    <div class="field">
      <%= f.label :art_precio, "Precio *" %><br />
      <%= f.number_field :art_precio, autofocus: true, min: 1%>
    </div>

    <!--div class="form-group">
      <!%= f.label :art_imagen, "Imagen del artículo *" %><br />
      <!%= f.file_field :art_imagen%>
    </div-->
    <p></p>
    <div class="actions">
      <%= f.submit "Registrar" %>
    </div>

<% end %>