<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000">ServiVentas</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <%= form_for(:empleado, :url => session_path(:empleado), html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
        <div class="form-group">
          <%= f.text_field :emp_email %>
        </div>
        <div class="form-group">
          <%= f.password_field :password %>
        </div>
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :Recordarme %>
        </div>
        <%= f.submit 'Iniciar Sesion', class:"btn btn-default" %>
        <%= link_to "Olvidó su contraseña?", new_password_path(:empleado) %>
      <% end %>            
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<body>
<div class="container-">
  <div class="row">
    <div class="col-lg-12" style="text-align:center; margin:0 auto;">
      <h2 style="color:#0B2161"><FONT FACE="times new roman">
        BIENVENIDO A
      </FONT></h2>
      <img class="img-responsive center-block" src="http://serviventas.cl/wp-content/uploads/2015/02/Logo_ServiVentas.jpg" alt="">
      <hr class="star-light">
    </div>
  </div>
</div>
</body>
<div>
  <footer class="container" style="min-height:150px; background-color:#0B2161;color:#fff;text-align:center;padding-top:50px;">
    ServiVentas @2016
    <p></p>
    Sebastián Calderón - Verónica Domínguez - Daniel Morales
  </footer>
</div>