<% flash.each do |key, value| %>
    <p> <%= value %> </p>
<% end %>
<body>
<div class="container">
  <h1 style="color:#0B2161"><FONT FACE="times new roman">ADMINISTRAR CLIENTES <small>   Editar, eliminar y crear nuevos clientes</small></FONT></h1>
  <hr>
  <div><button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#2DB171;" onclick="location.href='/clientes/new';"><span class="glyphicon glyphicon-plus"></span> Crear Nuevo Cliente</button>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading" style="min-height:40px;">
        <h3 class="panel-title pull-left">Clientes de la Empresa</h3>
        <div class="pull-right">
          <button href="javascript:;" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>
        </div>
      </div>
      <table class="table table-filterable">
        <thead>
        <tr class="filters">
          <th></th>
          <th></th>
          <th><input type="text" class="form-control" placeholder="Codigo" disabled></th>
          <th><input type="text" class="form-control" placeholder="Tipo" disabled></th>
          <th><input type="text" class="form-control" placeholder="Nombre" disabled></th>
          <th><input type="text" class="form-control" placeholder="Apellido" disabled></th>
          <th><input type="text" class="form-control" placeholder="Empresa" disabled></th>
          <th><input type="text" class="form-control" placeholder="Teléfono" disabled></th>
          <th><input type="text" class="form-control" placeholder="e-mail" disabled></th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <% @clientes.each do |d| %>
            <tr>
              <td class="td-actions">
                <%= button_to "Editar", edit_cliente_path(d), :method => :get %>
              </td>
              <td class="td-actions">
                <%= button_to "Borrar", elimCliente_path(d.cliente_cod), :method => :post %>
              </td>
              <td><%= d.cliente_cod %></td>
              <td><%= d.tipo_cliente.tipo_cliente_descr %></td>
              <td><%= d.cliente_nom %></td>
              <td><%= d.cliente_ape %></td>
              <td><%= d.cliente_emp %></td>
              <td><%= d.cliente_tel %></td>
              <td><%= d.cliente_correo %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
<div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='/';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
    </div>
  </div>
  <hr>
</div>
</body>