<p id="notice"><%= notice %></p>

<h1>Listing Cargo Empleados</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargo_empleados.each do |cargo_empleado| %>
      <tr>
        <td><%= link_to 'Show', cargo_empleado %></td>
        <td><%= link_to 'Edit', edit_cargo_empleado_path(cargo_empleado) %></td>
        <td><%= link_to 'Destroy', cargo_empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargo empleado', new_cargo_empleado_path %>
