<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= articulo.art_nom %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for detalle, remote: true do |f| %>
          <h4 class="text-right">Precio Unidad: <span style="color: green"><%= number_to_currency detalle.art_precio_unidad %></span></h4>
          <div class="row">
            <div class="col-xs-4">
              <%= f.number_field :quantity, value: detalle.art_cant.to_i, class: "form-control", min: 1 %>
              <%= f.hidden_field :product_id, value: articulo.art_cod %>
            </div>
            <div class="col-xs-8 text-right">
              <div class="btn-group">
                <%= f.submit "Update Quantity", class: "btn btn-primary" %>
                <%= link_to "Delete", detalle, { data: { confirm: "Are you sure you wish to delete the product '#{detalle.articulo.art_nom}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
              </div>
            </div>
          </div>
          <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency detalle.precio_total %></span></h4>
      <% end %>
    </div>

  </div>
</div>