<% flash.each do |key, value| %>
    <p> <%= value %> </p>
<% end %>
<body>
<div class="container">
  <h1 style="color:#0B2161"><FONT FACE="times new roman">COTIZACIONES POR SERVICIOS DE INSTALACIÓN <small>   Editar, eliminar y crear nuevas cotizaciones</small></FONT></h1>
  <hr>
  <div><button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#2DB171;" onclick="location.href='/servs_inst/new';"><span class="glyphicon glyphicon-plus"></span> Crear Cotización</button>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading" style="min-height:40px;">
        <h3 class="panel-title pull-left">Cotizaciones por servicios de instalación</h3>
        <div class="pull-right">
          <button href="javascript:;" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr class="filters">
          <th></th>
          <th></th>
          <th><input type="text" class="form-control" placeholder="Código" disabled></th>
          <th><input type="text" class="form-control" placeholder="Cliente" disabled></th>
          <th><input type="text" class="form-control" placeholder="Empleado" disabled></th>
          <th><input type="text" class="form-control" placeholder="Fecha" disabled></th>
          <th><input type="text" class="form-control" placeholder="Estado" disabled></th>
          <th><input type="text" class="form-control" placeholder="Total" disabled></th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <% @cots.each do |d| %>
            <tr>
              <td class="td-actions">
                <!--%= button_to "Editar",  %-->
              </td>
              <td class="td-actions">
                <!--%= button_to "Borrar", elimDocPrevio_path(d.doc_cod), :method => :post %-->
              </td>
              <td><%= d.doc_cod %></td>
              <td><%= d.cliente.cliente_correo %></td>
              <td><%= d.emp_rut %></td>
              <td><%= d.doc_fecha %></td>
              <td><%= Cotizacion.find(d.doc_cod).estado_cotizacion.cot_est_descr %></td>
              <td><%= d.doc_total %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
<div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#5858FA;" onclick="location.href='/';"><span class="glyphicon glyphicon-arrow-left"></span> Volver </button>
    </div>
  </div>
  <hr>
</div>
</body>