<style> html{overflow: scroll;} </style>

<head>
<%= render 'shared/navbarAdmin' %>
<%= yield %>
</head>

<body>
   <%= render 'shared/bodyCotAgSinSer' %>
    <%= yield %> 
</body>

<div>
  <%= render 'shared/footer' %>
  <%= yield %>
</div>