<!--Vista de la tabla log-->
<head>
<%= render 'shared/navbarAdmin' %>
<%= yield %>
</head>

<body>
<div class="container">
    <h1 style="color:#0B2161"><FONT FACE="times new roman">REGISTRO <small>   Seleccione el registro que desea modificar y elija una opci贸n</small></FONT></h1>
    <hr>

    <button type: "submit" class="btn btn-default" style="color:#FFFFFF; background-color:#2DB171;" onclick="location.href='http://localhost:3000/vendedor/nuevaCot';"><span class="glyphicon glyphicon-plus"></span> 
    Nueva cotizaci贸n
    </button>

    <p></p>
    
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading" style="min-height:40px;">
                <h3 class="panel-title pull-left">REGISTRO</h3>
                <div class="pull-right">
                    <button href="javascript:;" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filtrar</button>
                </div>
            </div>
            <table class="table"> <!-- Arreglar tabla y conectarlo con la bd-->
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Fecha de Modificaci贸n" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nombre Usuario" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Tabla" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Operaci贸n" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Dato antiguo" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Dato nuevo" disabled></th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">

                <% @logs.each do |d| %>
                    <tr>
                      <td><%= d.UpdateDate %></td>
                      <td><%= d.UserName %></td>
                      <td><%= d.TableName %></td>
                      <td><%= d.Operation %></td>
                      <td><%= d.OldValue %></td>
                      <td><%= d.NewValue %></td>
                      <td></td>
                      <td></td>
                    </tr>
                <% end %>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<div>
  <%= render 'shared/footer' %>
  <%= yield %>
</div>